body, html {
	margin: 0;
	overflow: hidden;
}

.ocean {
	fill: #bfd7e4;
}

.land {
	fill: #eaeaea;
}

.boundary {
	fill: none;
	stroke: #9fa8ad;
	stroke-linejoin: round;
	stroke-linecap: round;
	vector-effect: non-scaling-stroke;
}